<html lang="en">
<body>
  <div class="row">
    <div class="profiles-banner col-md-12">
  	 <h1> Welcome to <br><br><b><%= artist.firstName %><b><br><br> profile</h1>
    </div>
  </div>

  <div class="row first-part">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="../images/<%= artist.profileImage %>" alt="..." class=" img-circle profile-image">
        <div class="caption">
          <h3><%= artist.firstName %> <%= artist.lastName %></h3>
          <p>
            <h4> Profession : <%= artist.title %></h4>
            <h4> Country : <%= artist.country %></h4>
            <h4> Description</h4>
          </p>
          <p><a href="#" class="btn btn-default" role="button">Contact</a></p>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-md-4">
      <a href="#" class="thumbnail profile-images">
        <img src="../images/gal11.jpg" alt="..." class=" profile-image">
        <p> Name</p>
      </a>
    </div>
    <div class="col-xs-6 col-md-4">
      <a href="#" class="thumbnail profile-images">
        <img src="../images/gal5.jpg" alt="..." class=" profile-image">
        <p> Name</p>
      </a>
    </div>
  </div>
</body>
</html>